#
# .gitignore
# mosaic
#
# Created by Christian Bator on 03/11/2025
#

# Pixi
.pixi

# Rattler-build
rattler-build/output

# Modular
modular

# Claude
.claude

# Development
main.mojo
/*.png
/*.jpeg
examples/*.png
examples/*.jpeg
